<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Global Filter</title>
    <script src="../../vendor/webcomponentsjs/webcomponents.min.js"></script>
    <link rel="import" href="../../vendor/polymer/polymer.html">
</head>
<body>
<template id="template_1" is="auto-binding">
    <h1>{{student.name|sayBye}}</h1>
</template>
<script>
    (function () {
        var template1 = document.getElementById('template_1');
        template1.student = {
            name: 'Laichuanfeng'
        };
        PolymerExpressions.prototype.sayBye = function (input) {
            return 'Bye ' + input;
        }
    }());
</script>
</body>
</html>